# This is a .gitignore file for a Python project
# It specifies files and directories that should be ignored by Git
# General Python files
__pycache__/
*.pyc
venv/
*.pyo
*.pyd
*.db
*.pkl
*.zip
*.dll
*.csv
*.zip
*.csv
*.h5
*.pt
models/


